* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html, body {
  padding: 0;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

a {
  display: inline-block;
}

a:link,
a:visited,
a:active {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: map_get($greys, 'darkest');
}

a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: .3s transform ease;
  transform: scaleX(0);
  transform-origin: left;
  background-color: map_get($greys, 'darkest');
}

a.active::after {
  transform: none;
}