.grid-page__sample-column {
  position: relative;
  min-height: 400px;
  background-color: #F4E7EC;
}

.grid-page__sample-column::before,
.grid-page__sample-column::after {
  content: '';
  position: absolute;
  top: 0;
  width: $grid-spacing;
  height: 100%;
  background-color: darken(#F4E7EC, 5%);
}

.grid-page__sample-column::before {
  left: $grid-spacing * -1;
}

.grid-page__sample-column::after {
  right: $grid-spacing * -1;
}

.grid-page__code-block {
  margin-top: $grid-spacing * 2;
}