@import "../../../scss/elements/input";
@import "../../../scss/elements/radio";

.FormPage__form {
  display: flex;
  justify-content: space-around;
  width: 100%;

  input[type="text"],
  textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}
