@import "../mixins/prepend-circle";
@import "../includes/greys";

.accordion {
  .accordion__radio {
    display: none;
  }

  .accordion__item {
    display: block;
  }

  .accordion__item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 40px;
    text-align: left;
    font-weight: 500;
    cursor: pointer;
    @include prepend-circle(22px);
  }

  .accordion__item-header::before {
    content: "+";
    top: 6px;
    transition: border-color .1s ease;
    will-change: border-color;
  }

  .accordion__item-header:hover::before {
    border-color: map-get($colors, "primary");
  }

  .accordion__radio:checked + .accordion__item > .accordion__item-header::before {
    content: "–";
  }

  .accordion__item-content {
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    transition: .6s opacity ease, .3s transform ease;
    will-change: opacity, transform;
    transform: translateY($grid-spacing);
    opacity: 0;
  }

  .accordion__radio:checked + .accordion__item > .accordion__item-content {
    height: auto;
    margin: ($grid-spacing / 2) 0;
    opacity: 1;
    transform: none;
  }
}

.accordion.accordion--table {
  .accordion__item-header {
    @include prepend-circle(22px, true, true); // should be 24 but there's a 2px border.
    padding-left: $grid-spacing;
    padding-top: $grid-spacing / 2 + 2;
    padding-bottom: $grid-spacing / 2 + 2;
    min-height: 48px;
    transition: .15s background-color ease;
    will-change: background-color;
    background-color: map-get($greys, "bg");
  }
  .accordion__item-header::before {
    top: 50%;
    transform: translateY(-50%);
  }
  .accordion__item-header:hover {
    background-color: map-get($greys, "table");
  }
  .accordion__item ~ .accordion__item > .accordion__item-header {
    border-top: 1px solid white;
  }
  .accordion__item-header::before {
    content: "+";
    left: auto;
  }
  .accordion__item-content {
    box-sizing: border-box;
    background-color: map-get($greys, "bg");
  }
  .accordion__radio:checked + .accordion__item > .accordion__item-content {
    margin: 0;
    padding: $grid-spacing * 2;
  }
  .accordion__radio:checked + .accordion__item > .accordion__item-header {
    background-color: map-get($greys, "table");
  }
}