@import "../variables";
@import "../mixins/grey-backgrounds";

.quote {
  position: relative;
  padding: ($grid-spacing * 2) ($grid-spacing * 2) ($grid-spacing * 2) 87px; //87px is 20px from the ::before quote.
  color: map-get($greys, "secondary");

  &::before {
    content: open-quote;
    position: absolute;
    top: 27px;
    left: 36px;
    font-family: map-get($fonts, "headingFont");
    font-size: 75px;
    line-height: 1;
  }

  &::after {
    content: close-quote;
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .quote__citation {
    display: block;
    margin-bottom: $grid-spacing / 2;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
  }

  .quote__content {
    margin: 0;
    font-family: map-get($fonts, "headingFont");
    font-style: italic;
    font-size: 17px;
    line-height: 1.647;
  }

  @include grey-backgrounds(true);
}