@import '../variables';
@import '../mixins/grey-backgrounds';

.quote {
  position: relative;
  padding: ($grid-spacing) ($grid-spacing) ($grid-spacing) 70px; //70px is 20px from the ::before quote.
  color: map_get($greys, 'secondary');

  &::before {
    content: open-quote;
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: map-get($fonts, 'headingFont');
    font-size: 75px;
    line-height: 1;
  }

  &::after {
    content: close-quote;
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .quote__citation {
    display: block;
    margin-bottom: $grid-spacing / 2;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
  }

  .quote__content {
    margin: 0;
    font-family: map-get($fonts, 'headingFont');
    font-style: italic;
  }

  @include grey-backgrounds(true);
}