@import "../variables";
@import "../mixins/graphs";

.circle-graph {
  $circle-size: 160px;
  $circle-stroke: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $circle-size;
  height: $circle-size;
  text-align: center;

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: $circle-size;
    height: $circle-size;
    transform: rotate(-90deg);
  }

  &__bar-base,
  &__bar-value {
    r: ($circle-size / 2) - $circle-stroke;
    cx: $circle-size / 2;
    cy: $circle-size / 2;
    fill: none;
    stroke-width: $circle-stroke;
  }

  &__bar-base {
    stroke: map-get($greys, "bg");
  }

  &__bar-value {
    stroke-dasharray: 313%;
    stroke: map-get($colors, "primary");
  }

  &__value {
    @include graph-value;
    margin-bottom: $grid-spacing / 2;
  }

  &__label {
    @include graph-label;
  }

}