@import '../variables';
@import '../mixins/grey-backgrounds';

.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 190px;
  min-height: 130px;
  padding: ($grid-spacing) ($grid-spacing * 3);
  text-align: center;
  background-color: map_get($greys, 'bg');

  & + .infobox {
    margin-left: 2px;
  }

  .infobox__header {
    line-height: 1;
    font-family: map_get($fonts, 'headingFont');
    font-size: 40px;
    color: map_get($colors, 'primary');
  }

  .infobox__content {
    margin-top: $grid-spacing / 2;
    margin-bottom: 0;
  }

  @include grey-backgrounds;
}