@import "../variables";
@import "../mixins/grey-backgrounds";
@import "../mixins/respond-to";

.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 130px;
  padding: ($grid-spacing);
  text-align: center;
  background-color: map-get($greys, "bg");

  & + & {
    margin-left: 2px;
  }

  &__header {
    line-height: 1;
    font-family: map-get($fonts, "headingFont");
    font-size: 32px;
    color: map-get($colors, "primary");
  }

  &__content {
    margin-top: $grid-spacing / 2;
    margin-bottom: 0;
  }

  & + & {
    margin-top: 2px;
    margin-left: 0;
    @include respond-to("tablet") {
      margin-top: 0;
      margin-left: 1px;
    }
  }

  @include grey-backgrounds;
}

.background_bg .infobox {
  background-color: white;
}
