@import "../variables";
@import "../animations/fill-width";
@import "../mixins/graphs";

.line-graph {
  width: 320px;
  max-width: 100%;

  .line-graph__item + .line-graph__item {
    margin-top: $grid-spacing;
  }

  .line-graph__info {
    display: flex;
    align-items: flex-end;
  }

  .line-graph__label {
    margin-right: auto;
    @include graph-label;
  }

  .line-graph__value {
    margin: 0 0 0 auto;
    @include graph-value;
  }

  .line-graph__bar-base {
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: $grid-spacing / 4;
    background-color: map-get($greys, "bg");
  }

  .line-graph__bar-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: map-get($colors, "primary");
    transform-origin: left;
    animation: fill-width .6s ease forwards;
  }

}