@import "variables";

figure {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0;

  figcaption {
    box-sizing: border-box;
    padding: $grid-spacing;
    background-color: map-get($greys, "bg");
    text-align: left;
  }

  figcaption p {
    margin: 0;
  }

  & + figure {
    margin-left: $grid-spacing;
  }
}

.inverted figure,
.background--grey_bg figure {
  figcaption {
    background-color: map-get($greys, "lightest");
  }
}