@import 'variables';

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 12fr);
}

.column {
  margin-left: $grid-spacing;
  margin-right: $grid-spacing;
}
