.page-section {
  text-align: center;
  padding: $grid-spacing * 5;

  & > header {
    padding: 0 0 ($grid-spacing * 3);
  }
}

.page-section + .page-section {
  border-top: 1px solid map_get($greys, 'line');
}
