@import "mixins/respond-to";
@import "mixins/grey-backgrounds";

:root {
  #{--page-section__container-width}: 1200px; // SASS LINT WORKAROUND.
}

.page-section {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: ($grid-spacing * 2) 0;
  @include respond-to("tablet") {
    padding: ($grid-spacing * 5) 0;
  }

  &__header,
  & > header {
    padding-bottom: ($grid-spacing * 2);
  }

  &__content {
    text-align: left;
  }

  &__content_has-header {
    margin-top: $grid-spacing * 2;
  }

  &_padless-bottom {
    padding-bottom: 0;
  }

  &:not(:first-of-type) {
    border-top: 1px solid map-get($greys, "line");
  }

  &__container {
    margin: 0 auto;
    max-width: var(--page-section__container-width);
  }

  @include grey-backgrounds($text-color: false);
}
