@import "variables";

table {
  $vertical-padding: 16px;

  border-collapse: collapse;

  tr {
    min-height: 50px;
  }

  td,
  th {
    box-sizing: border-box;
    padding: $vertical-padding $grid-spacing;
    border: 2px solid white;
    line-height: 1;
  }

  thead tr th {
    font-size: 13px;
    font-weight: 700;
    color: map-get($greys, "secondary");
    background-color: map-get($greys, "table");
  }

  tbody tr td {
    background-color: map-get($greys, "bg");
  }
}

.inverted table,
.background--grey_bg table {
  td,
  th {
    border-color: map-get($greys, "bg");
  }
  thead th {
    border-bottom: 0;
  }
  tbody tr:first-child td {
    border-top: 0;
  }
  tbody td {
    background-color: white;
  }
}