@import "variables";

.inverted {
  color: map-get($greys, "secondary");
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: map-get($greys, "darkest");
}

.page-section h1,
.page-section h2,
.page-section h3,
.page-section h4,
.page-section h5,
.page-section h6 {
  margin-bottom: 0;
}

.inverted h1,
.inverted h2,
.inverted h4 {
  color: map-get($greys, "lightest");
}

h1,
h2 {
  font-family: map-get($fonts, "headingFont") map-get($fonts, "headingFontFallback");
  font-weight: 400;
}

h1 {
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 1.286;
}

h2 {
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 1.2;
}

h2 + h3 {
  margin-top: $grid-spacing / 2;
}

h3, h4 {
  font-family: map-get($fonts, "bodyFont") map-get($fonts, "bodyFontFallback");
}

h3 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.364;
}

.inverted h3 {
  color: map-get($greys, "secondary");
}

h4 {
  margin-top: $grid-spacing;
  margin-bottom: $grid-spacing;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.471;
}

h4 + p,
p + h4 {
  margin-top: $grid-spacing;
}

p.clip {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1.462;
  color: map-get($greys, "secondary");
}

body {
  font-family: map-get($fonts, "bodyFont") map-get($fonts, "bodyFontFallback");
  font-weight: 300;
  font-size: 15px;
  line-height: 1.733;
  color: map-get($greys, "darkest");
}

.inverted body {
  color: map-get($greys, "secondary");
}

.fineprint {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.667;
  color: map-get($greys, "secondary");
}
